<h1> Genre <%= @genre.id %></h1>

<p><b>Genre ID:</b> <%= @genre.id %></p>
<p><b>Genre:</b> <%= @genre.genre %></p>
<p><b>Genre Count:</b> <%= @genre.movies.count %></p>
<p><b>Description:</b> <%= @genre.description %></p>

<p><%= link_to "Look at Movies", '/movies' %></p>
<p><%= link_to "Add a Movie", new_movie_path %></p>
<p><%= link_to "Look at Actors", actors_path %></p>
<p><%= link_to "Look at genres ", genres_path %></p>

<h2>Movies</h2>

<table border="1">
  <tr>
    <th>Title</th>
    <th>Year</th>
    <th>Genre</th>
    <th>Plot</th>
  </tr>
 
  <% @genre.movies.each do |movie| %>
      <tr>
        <td><%= link_to movie.title, movie_path(movie.id) %></td>
        <td><%= movie.year %></td>
        <td>
          <% movie.genres.each do |genre| %>
          <% if MovieOverride.exists?(:movie_id=>movie.id) %>
            <% @brent = MovieOverride.find_by(:movie_id=>movie.id) %>
            <% if @brent.respond_to?(:genre_overrides) %>
            <% if @brent.genre_overrides.exists?(:genre_id=>genre.id) %>
              <%=  link_to GenreOverride.find_by(:genre_id=>genre.id).genre, genre_override_path(GenreOverride.find_by(:genre_id=>genre.id).id) %>
            <%else%>
              <%=  link_to genre.genre, genre_path(genre.id) %>
            <%end%>
          <%else%>
            <%=  link_to genre.genre, genre_path(genre.id) %>
          <%end%>
          <%else%>
            <%=  link_to genre.genre, genre_path(genre.id) %>
          <%end%>
          <%="," unless genre == movie.genres.last %>
        <% end %>
        </td>
        <td><%= movie.plot_simple %></td>
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
      </tr>

      

  <% end %>
</table>