<h1> Genre <%= @genre.id %></h1>

<p><b>Genre ID:</b> <%= @genre.id %></p>
<p><b>Genre:</b> <%= @genre.genre %></p>
<p><b>Genre Count:</b> <%= @genre.movies.count %></p>
<p><b>Description:</b> <%= @genre.description %></p>

<p><%= link_to "Look at Movies", '/movies' %></p>
<p><%= link_to "Add a Movie", new_movie_path %></p>
<p><%= link_to "Look at Actors", actors_path %></p>
<p><%= link_to "Look at genres ", genres_path %></p>

<h2>Movies</h2>

<table border="1">
  <tr>
    <th>Title</th>
    <th>Year</th>
    <th>Genre</th>
    <th>Plot</th>
  </tr>
 
  <% @genre.movies.joins(:users).where("users.id" => current_user.id).each do |movie| %>
    <% if @movies.exists?(:movie_id => movie.id) %>
    <% @stefan = @movies.find_by(:movie_id => movie.id) %>
      <tr>
        <td><%= link_to @stefan.title, movie_path(@stefan.movie_id) %></td>
        <td><%= @stefan.year %></td>
        <td>
          <% movie.genres.each do |genre| %>
            <% if @overrides.exists?(:genre_id => genre.id) %>
            <% brent = @overrides.find_by(:genre_id => genre.id) %>
              <%=  link_to brent.genre, genre_override_path(@overrides.find_by(:genre_id => genre.id))%>
            <% else %>
              <%= link_to genre.genre, genre_path(genre.id)%>
            <% end %>
          <%= "," unless genre == movie.genres.last %>
          <% end %>
        </td>
        <td><%= movie.plot_simple %></td>
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
      </tr>

      <% else %>
      <tr>
        <td><%= link_to movie.title, movie_path(movie) %></td>
        <td><%= movie.year %></td>
        <td>
          <% movie.genres.each do |genre| %>
            <% if @overrides.exists?(:genre_id => genre.id) %>
              <%=  link_to @overrides.find_by(:genre_id => genre.id), genre_override_path(@overrides.find_by(:genre_id => genre.id))%>
            <% else %>
              <%= link_to genre.genre, genre_path(genre.id)%>
            <% end %>
          <%= "," unless genre == movie.genres.last %>
          <% end %>
        </td>
        <td><%= movie.plot_simple %></td>
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
      </tr>
      <% end %>

  <% end %>
</table>