<h1>Actors#index</h1>
<p>Find me in app/views/actors/index.html.erb</p>

<p>Look at movies <%= link_to "HERE", "/movies" %></p>
<p>Go back home <%= link_to "HOME", root_path%></p>

<table border="1">
  <tr>
    <th>Full</th>
    <th>First</th>
    <th>Middle</th>
    <th>Last</th>
    <th>Movies Appeared</th>
    <th>Most Recent Movie</th>
  </tr>
 
  <% @actors.each do |actor| %>
    <tr>
      <td><%= actor.full %></td>
      <td><%= actor.first_name %></td>
      <td><%= actor.middle_name %></td>
      <td><%= actor.last_name %></td>
      <td><%= actor.movies.count %></td>
      <td><%= actor.movies.last.title unless actor.movies.last.nil? %></td>
      <td><%= link_to 'Show', actor %></td>
      <td><%= link_to 'Delete', actor_path(actor), method: :delete, data: {confirm: 'Are you sure?'} %></td>

    </tr>
  <% end %>
</table>