<h1> Form for Editing Movie Overrides</h1>

<%= form_for @movie_override, url: {action:"update"} do |f| %>
  <% if @movie_override.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@movie_override.errors.count, "error") %> prohibited
      this movie from being saved:</h2>
    <ul>
    <% @movie_override.errors.full_messages.each do |x| %>
      <li><%= x %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title  %>
  </p>
 
  <p>
    <%= f.label :plot_simple %><br>
    <%= f.text_area :plot_simple%>
  </p>

   <p>
    <%= f.label :year %><br>
    <%= f.text_field :year %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>