<h1> Form for Adding Movie Overrides</h1>

<%= form_for @movie_override, url: {action:"create"} do |f| %>
  <% if @movie_override.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@movie_override.errors.count, "error") %> prohibited
      this movie from being saved:</h2>
    <ul>
    <% @movie_override.errors.full_messages.each do |x| %>
      <li><%= x %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <%= f.hidden_field :movie_id, :value => @movie.id %>
  <%= f.hidden_field :user_id, :value => current_user.id %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title, :value => @movie.title  %>
  </p>

   <p>
    <%= f.label :year %><br>
    <%= f.text_field :year, :value => @movie.year %>
  </p>
  <p>Add Actors Later </p>
  <p>
    <%= f.label :directors %><br>
    <%= f.text_field :directors, :value => @movie.directors %>
  </p>
  <p>
    <%= f.label :film_location %><br>
    <%= f.text_field :film_location, :value => @movie.film_location %>
  </p>
  <p>Add Genres Later </p>
  <p>
    <%= f.label :rated %><br>
    <%= f.text_field :rated, :value => @movie.rated %>
  </p>
  <p>
    <%= f.label :rating %><br>
    <%= f.text_field :rating, :value => @movie.rating %>
  </p>
  <p>
    <%= f.label :imdb_url %><br>
    <%= f.text_field :imdb_url, :value => @movie.imdb_url %>
  </p>
  <p>
    <%= f.label :plot_simple %><br>
    <%= f.text_area :plot_simple, :value => @movie.plot_simple %>
  </p>
  <p>
    <%= f.label :runtime %><br>
    <%= f.text_field :runtime, :value => @movie.runtime %>
  </p>
  <p>
    <%= f.label :release_date %><br>
    <%= f.text_field :release_date, :value => @movie.release_date %>
  </p>
  <p>
    <%= f.label :poster %><br>
    <%= f.text_field :poster, :value => @movie.poster %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<p><%= link_to "Look at Movies", '/movies' %></p>