<p><b>Title:</b> <%= @search.title %></p>
<p><b>Year:</b> <%= @search.year %></p>
<p><b>Actors:</b> <%= @search.actors %></p>
<p><b>Directors:</b> <%= @search.directors %></p>
<p><b>Film Location:</b> <%= @search.film_location %></p>
<p><b>Genre:</b> <%= @search.genre %></p>
<p><b>Rated:</b> <%= @search.rated %></p>
<p><b>IMDB Rating:</b> <%= @search.rating %></p>
<p><b>Simple Plot:</b> <%= @search.plot_simple %></p>
<p><b>Runtime:</b> <%= @search.runtime %></p>
<p><b>Release Date:</b> <%= @search.release_date %></p>
<p><b>IMDB Link:</b><%= @search.imdb_url %></p>
<p><%= image_tag @search.poster %></p>
<p><b>Poster Link:</b> <%= @search.poster%></p>
<p><b>Cover Link:</b> <%= @search.poster%></p>