<h1>Editing Movie</h1>
 
<%= form_for :movie, url: movie_path(@movie), method: :patch do |f| %>
  <% if @movie.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@movie.errors.count, "error") %> prohibited
      this movie from being saved:</h2>
    <ul>
    <% @movie.errors.full_messages.each do |x| %>
      <li><%= x %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
 
<p><%= link_to "Look at Movies", movies_path %></p>
<p>Add a new movie <%= link_to "HERE", movies_new_path %></p>
<p>Go back home <%= link_to "HOME", root_path%></p>