<h1>Movies#index</h1>
<p>Find me in app/views/movies/index.html.erb</p>

<p>Add a new movie <%= link_to "HERE", movies_new_path %></p>
<p>Go back home <%= link_to "HOME", root_path%></p>

  <%= form_tag :controller => 'movies', :action => 'new' do %>
      <%= text_field_tag :search %>
      <%= submit_tag "Search", :name => nil %> 
      <%= link_to_function "Clear", "$('search_field').clear()" %>
  <% end %> 

<table border="1">
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @movies.each do |movie| %>
    <tr>
      <td><%= movie.title %></td>
      <td><%= movie.text %></td>
      <td><%= link_to 'Show', movie %></td>
      <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
      <td><%= link_to 'Delete', movie_path(movie), method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
</table>