<h1>Movies#index</h1>
<p>Find me in app/views/movies/index.html.erb</p>

<p>Add a new movie <%= link_to "HERE", new_movie_path %></p>
<p>Go back home <%= link_to "HOME", root_path%></p>

  <%= form_tag :controller => 'movies', :action => 'new' do %>
      <%= text_field_tag :search %>
      <%= submit_tag "Search", :name => nil %> 
      <%= link_to_function "Clear", "$('search_field').clear()" %>
  <% end %> 

<div class="btn-group" id="basic-advanced" data-toggle="buttons-radio">
        <a class="btn btn-small" href="#" id="posterbutton">Poster</a>
        <a class="btn btn-small" href="#" id="tablebutton">Table</a>
    </div>

  <script>
$(document).ready(function() {
  var par = $('#table');
  var par2 = $('#poster');
  $(par).hide();
  $(par2).show();
  
  $("#tablebutton").click(function(e){
    $(par).show();
    $(par2).hide();
      e.preventDefault();
  });
  $("#posterbutton").click(function(e){
    $(par).hide();
    $(par2).show();
      e.preventDefault();
    });
  });
  </script>

<div id="poster">
  <%= render 'index_poster' %>
</div>


<div id="table">
  <%= render 'index_table' %>
</div>