<h1> Movie <%= @movie.id %></h1>

<%= render "movie_prefs/movie_prefs" %>

<p><b>Title:</b> <%= @movie.title %></p>
<p><b>Year:</b> <%= @movie.year %></p>
<p><b>Actors:</b> 
	<% @real_movie.actors.each do |actor| %>
		<%= link_to actor.full, actor_path(actor.id) %>
		<span class="role"><%= actor.roles.where(:movie=>@real_movie.title).map{ |role| role.full}.join(", ") %> </span>
		<%= "," unless actor == @real_movie.actors.last %>
	<% end %>
</p>
<p><b>Directors:</b> <%= @movie.directors %></p>
<p><b>Film Location:</b> <%= @movie.film_location %></p>
<p><b>Genre:</b>
	<% @real_movie.genres.each do |genre| %>
	<%=  link_to genre.genre, genre_path(genre.id) %>
	<%= "," unless genre == @real_movie.genres.last %>
	<% end %>
</p>
<p><b>Rated:</b> <%= @movie.rated %></p>
<p><b>IMDB Rating:</b> <%= @movie.rating %></p>
<p><b>IMDB Link:</b> <%= link_to @movie.imdb_url, @movie.imdb_url  %></p>
<p><b>Simple Plot:</b> <%= @movie.plot_simple %></p>
<p><b>Runtime:</b> <%= @movie.runtime %></p>
<p><b>Release Date:</b> <%= @movie.release_date %></p>
<p><%= image_tag @movie.poster %></p>

<p><b>Poster Link:</b> <%= @movie.poster %></p>

<% @movie = @real_movie %>

<h2>Comments</h2>
<%= render @movie.comments %>

<h2>Add a comment:</h2>
<%= render "comments/form" %>

<p><%= link_to "Look at Movies", '/movies' %></p>

<% if !current_user.movies.exists?(@movie.id) %>
	<p><strong>You don't own this! Do you want to add it?</strong><%= button_to 'Make it so', {:action => :addOwnership,
		:remote => true, :movie_id => @movie.id, :user_id=> current_user.id ,
		:method=>:post } %></p>
	<% else %>
	<p><%= link_to 'Edit', edit_movie_path(@movie) %></p>
<% end %>

<p>Add a new movie <%= link_to "HERE", new_movie_path %></p>
<p>Go back home <%= link_to "HOME", root_path%></p>