<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @movie.text %>
</p>

<h2>Comments</h2>
<%= render @movie.comments %>

<h2>Add a comment:</h2>
<%= render "comments/form" %>

<p><%= link_to "Look at Movies", movies_path %></p>
<p><%= link_to 'Edit', edit_movie_path(@movie) %></p>
<p>Add a new movie <%= link_to "HERE", movies_new_path %></p>
<p>Go back home <%= link_to "HOME", root_path%></p>