<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png"> 
<link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet" />

  <title>Lazydayplanner</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</head>
<body>

<div class="container">

<div class="row">
 
  <div class="col-md-12" id ="main">

    <div class="jumbotron">
      <h1>The Lazy Day Planner</h1>
    </div>
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">TLDP</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="<%= 'active' if params[:controller] == 'movies' %>"><%= link_to "Movies", '/movies' %></li>
            <li class="<%= 'active' if params[:controller] == 'actors' %>"><%= link_to "Actors", actors_path %></li>
            <li class="<%= 'active' if params[:controller] == 'genres' %>"><%= link_to "Genres", genres_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          
          <p class="navbar-text pull-right">
            <% if user_signed_in? %>
              Logged in as <strong><%= current_user.email %></strong>.
              <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
              <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
            <% else %>
              <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
              <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
            <% end %>
          </p>
        </div><!--/.nav-collapse -->
      </div>

    <%= yield %>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div id="footer">
      <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
      </div>
    </div>

  </div>

</div>

</div>

  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script></script>
</body>
</html>
